<div class="image">
    <mat-card class="example-card">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Please Login to GoShopping.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/02583765-b093-4b3f-86fd-8feb79929572_200x200.png" class="header-image">
        <mat-card-content>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="User name">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>SUBMIT</button>
          <button mat-button>CANCEL</button>
        </mat-card-actions>
      </mat-card>
</div>
